body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

.progress-bar {
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 100;
  background: #43408e;
  transform-origin: 0%;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}
